[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pep8 = "*"
autopep8 = "*"

[packages]
flask = "*"
newsapi-python = "*"
requests = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
python-dotenv = "*"
flask-wtf = "*"
gunicorn = "*"
passlib = "*"
psycopg2-binary = "*"
uuid = "*"

[requires]
python_version = "3.7"
