{% extends 'base.html' %}

{% block title %}
  <title>Create</title>
{% endblock title %}

{% block content %}
  <section class="create">
    <h2>Create A Story:</h2>
    <form action="{{ url_for(".prompts") }}" method="POST">
      {{ form.hidden_tag() }}
      {{ form.title.label }}{{ form.title(size=30) }}
      {{ form.content.label }}{{ form.content(size=1000) }}
      <input type="submit" name="create_form" id="create_form" value="Make Me Laugh">
    </form>
  </section>
{% endblock content %}