{% extends 'base.html' %}

{% block title %}
  <title>Story</title>
{% endblock title %}

{% block content %}
  <section class="story">
    <h4 class="title">{{ story.title }}</h4>
    <p class="content">{{ story.content }}</p>
    <form action="{{ url_for(".saved_stories") }}">
      <div class="hidden" hidden>
        {{ form.title.label }}{{ form.title(size=30) }}
        {{ form.content.label }}{{ form.content(size=1000) }}
      </div>
      <input type="submit" value="Save This Story">
    </form>
  </section>
{% endblock content %}
