{% extends 'base.html' %}

{% block title %}
  <title>Story</title>
{% endblock title %}

{% block content %}
  <section class="story">
    <h3>{{ title }}</h3>
    <p>
      {% for i in array_from_story_string(new_story) %}
        {% if i[0] == '*' %}
          <span>{{ i[1:] }}</span>
        {% else %}
          {{ i }}
        {% endif %}
      {% endfor %}
    </p>
    <form id="story-form" action="{{ url_for(".saved_stories", id=id) }}" method="POST">
      {{ form.hidden_tag() }}
      <div hidden>
        {{ form.title.label }}{{ form.title(size=30) }}
        {{ form.content.label }}{{ form.content(size=1000) }}
      </div>
      <input class="button" type="submit" value="Save This Story">
    </form>
  {% if form.errors %}
  {{ form.errors }}
  {% endif %}
  </section>
{% endblock content %}
